*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #313131;
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

form i{
    font-size: 1rem;
}

form input{
    font-size: 1rem;
    border: none;
    outline: none;
}

form button{
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cidade{
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    color: #313131;
}

.info{
    display: none;
}

.div_temp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    color: white;
    background-color: #313131;
    border-radius: 20px;
    margin-top: 10px;
}

.active{
    display: block;
}

.icone{
    width: 100px;
}

.temperatura{
    font-size: 2.5rem;
}

.descricao{
    font-weight: 600;
    text-transform: capitalize;
}

.alerta{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: 500;
    gap: 10px;
    display: none;
    color: #313131;
}

.ativo{
    display: flex;
}

.outrasInfos{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.outrasInfos .outraInfo{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    gap: 10px;
}

.outrasInfos .outraInfo h2{
    font-size: 12px;
    font-weight: 600;
}

.outrasInfos .outraInfo i{
    text-align: center;
    font-size: 20px;
    width: 20%;
}

#temp_max_icon{
    color: #7f1d1d;
}

#temp_min_icon{
    color: #0284c7;
}

#temp_umidity_icon{
    color: #0ea5e9;
}

#temp_wind_icon{
    color: #7c3aed;
}

.carregando{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.bolinha{
    width: 100px;
    height: 100px;
    background-color: transparent;
    display: block;
    border-radius: 50%;
    border: 12px solid #313131;
    border-top: 12px solid transparent;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    } 100%{
        transform: rotate(360deg);
    }
}